<svg class="chart" width="250" height="250" viewBox="0 0 50 50">
    <circle (click)="onAddCategory('red')" class="unit" [class.active]="isExist('red')"  [attr.r]="radius" cx="50%" cy="50%"></circle>
    <circle (click)="onAddCategory('blue')" class="unit" [class.active]="isExist('blue')" [attr.r]="radius" cx="50%" cy="50%"></circle>
    <circle (click)="onAddCategory('pink')" class="unit" [class.active]="isExist('pink')" [attr.r]="radius" cx="50%" cy="50%"></circle>
    <circle (click)="onAddCategory('yellow')" class="unit" [class.active]="isExist('yellow')" [attr.r]="radius" cx="50%" cy="50%"></circle>
    <circle (click)="onAddCategory('mint')" class="unit" [class.active]="isExist('mint')" [attr.r]="radius" cx="50%" cy="50%"></circle>
    <circle (click)="onAddCategory('orange')" class="unit" [class.active]="isExist('orange')" [attr.r]="radius" cx="50%" cy="50%"></circle>
    <circle (click)="onAddCategory('dark_pink')" class="unit" [class.active]="isExist('dark_pink')" [attr.r]="radius" cx="50%" cy="50%"></circle>
    <circle (click)="onAddCategory('green')" class="unit" [class.active]="isExist('green')" [attr.r]="radius" cx="50%" cy="50%"></circle>
</svg>

<mat-chip-list aria-label="Fish selection">
    <mat-chip *ngFor="let category of categories" [selectable]="selectable" [removable]="removable" (removed)="remove(category)">
        {{category}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>

</mat-chip-list>