<div class="category-picker">
    <h2>Life Balance Wheel</h2>

    <div class="svg-with-text">


        <svg class="chart" width="250" height="250" viewBox="0 0 50 50">
        <circle *ngFor="let sphere of spheresOfLifeEn" (click)="onAddCategory(sphere)" class="unit" [class.active]="isExist(sphere)"  [attr.r]="radius" cx="50%" cy="50%"></circle>
    </svg>

        <div class="text">
            <p *ngFor="let sphere of spheresOfLifeEn" [class.active]="isExist(sphere)">{{sphere}}</p>
        </div>
    </div>


    <mat-chip-list aria-label="Fish selection">
        <mat-chip *ngFor="let category of categories" [selectable]="selectable" [removable]="removable" (removed)="remove(category)">
            {{category}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>

    </mat-chip-list>

</div>