<div class="subtasks form">

    <div class="wrap">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="left">
                <h2>{{"create_subtask" |translate}}</h2>
                <div class="flex">
                    <mat-form-field appearance="fill">
                        <mat-label>{{"name_subtask" | translate}}</mat-label>
                        <input formControlName="name" type="text" matInput>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="date-picker">
                        <mat-label>{{"choose_date" | translate}}</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                </div>

                <app-time-picker (changeFromTime)="onChangeFromTime($event)" (changeUntilTime)="onChangeUntilTime($event)" [oldFromTime]="form.value.fromTime" [oldUntilTime]="form.value.untilTime"></app-time-picker>

                <div class="form">
                    <mat-form-field appearance="fill">
                        <mat-label>{{"text" | translate}}</mat-label>
                        <textarea matInput formControlName="note"></textarea>
                    </mat-form-field>
                </div>

                <ng-template [ngIf]="form.value.id" [ngIfElse]="save">
                    <button type="submit">{{'FORM.SAVE' | translate}}</button>
                </ng-template>

                <ng-template #save>
                    <button type="submit">{{'FORM.ADD' | translate}}</button>
                </ng-template>

            </div>


        </form>

        <div class="created">
            <h2>{{"created_subtasks" | translate}}</h2>
            <div class="task flex" *ngFor="let subtask of subtasks;">
                <div>
                    <span class="number"></span> {{subtask.name}} - {{subtask.date | date : 'dd.MM.YYYY'}}
                </div>
                <div>
                    <button type="button" (click)="onEditSubtask(subtask)"><mat-icon>edit</mat-icon></button>
                    <button type="button" (click)="onDeleteSubtask(subtask)"><mat-icon>delete</mat-icon></button>
                </div>
            </div>

        </div>
    </div>
</div>