/* You can add global styles to this file, and also import other style files */

:root {
    --background: #384259;
    --light_text_color: #fff;
    --back: #00ADB5;
    --green: #7EFFDB;
    --pink: #FF9DE2;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--background);
    color: var(--light_text_color);
}

.lang-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.wrapper.login form {
    display: grid;
    text-align: center;
}

form .submit {
    width: 180px;
    margin: 20px auto 0;
}

form .forgot {
    margin-top: 50px;
    font-size: 12px;
}

.mat-dialog-title {
    position: relative;
    height: 5px;
}

.mat-dialog-title button {
    position: absolute;
    right: 0px;
    background: transparent;
    border: none;
    color: unset;
    display: grid;
    top: -6px;
    outline: none;
    cursor: pointer;
}

.wrapper.login form p {
    font-size: 25px;
    margin-bottom: 30px;
}

.wrapper.login {
    margin: 30px 50px;
}

.round.green {
    width: 300px;
    height: 300px;
    background: var(--green);
    border-radius: 50%;
    position: absolute;
    top: -150px;
    right: -100px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.round.pink {
    width: 500px;
    height: 500px;
    background: var(--pink);
    border-radius: 50%;
    position: absolute;
    bottom: -150px;
    left: -100px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

.example-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
}

mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100vh;
}

mat-sidenav-content,
mat-sidenav {
    padding: 20px
}

mat-sidenav {
    width: 300px;
    background: red
}

button.menu-btn {
    background: transparent;
    color: unset;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
}

mat-button-toggle-group {
    margin-left: 25px;
}

main {
    position: relative;
}

ul {
    list-style: none;
}

nav a {
    text-decoration: none;
    color: inherit;
    font-size: 19px;
}

nav ul li {
    display: flex;
    align-items: center;
}

.add.active {
    margin-left: 14px;
    color: var(--pink);
}

.add .material-icons {
    font-size: 17px;
    position: relative;
    top: 2px;
}

.create-affair {
    display: grid;
    width: 400px;
    grid-gap: 15px;
}

.create-affair button {
    background: rgba(0, 0, 0, 0.4);
    border: none;
    height: 37px;
    color: #fff;
    border-radius: 8px;
}

.create-affair .day-of-week button {
    width: 13%;
}

.day-of-week {
    display: flex;
    justify-content: space-between;
}