/* You can add global styles to this file, and also import other style files */

* {
    box-sizing: border-box;
}

:root {
    --background: #384259;
    --light_text_color: #fff;
    --green: #1b9b84;
    --pink: #FF9DE2;
    --main-blue: #4660b6;
    --dark-back: #232b3e;
    --back: #27334c;
    --light-back: #35425d;
}

app-item-habit>.habit .mat-tab-body-wrapper {
    background-color: var(--light-back);
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: var(--light_text_color);
    background-color: #484f79;
    background-color: #27334c;
    /*background-image: linear-gradient(62deg, #3c415f 0%, #585f87 100%);*/
    /*
    background-color: #212129;
    background-image: linear-gradient(62deg, #212129 0%, #272c3a 100%);
    */
}

a {
    text-decoration: none;
    outline: none;
}

button {
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-family: inherit;
    outline: none;
}

.lang-btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.wrapper.login form {
    display: grid;
    text-align: center;
}

form .submit {
    width: 180px;
    margin: 20px auto 0;
}

form .forgot {
    margin-top: 50px;
    font-size: 12px;
}

.mat-dialog-title {
    position: relative;
    height: 5px;
}

.mat-dialog-title button {
    position: absolute;
    right: 0px;
    background: transparent;
    border: none;
    color: unset;
    display: grid;
    top: -6px;
    outline: none;
    cursor: pointer;
}

.wrapper.login form p {
    font-size: 25px;
    margin-bottom: 30px;
}

.wrapper.login {
    margin: 30px 50px;
}

.round.green {
    width: 300px;
    height: 300px;
    background: var(--green);
    border-radius: 50%;
    position: absolute;
    top: -150px;
    right: -100px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.round.pink {
    width: 500px;
    height: 500px;
    background: var(--pink);
    border-radius: 50%;
    position: absolute;
    bottom: -150px;
    left: -100px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: transparent;
}

.example-container {
    width: 400px;
    height: 200px;
    margin: 12px;
    border: 1px solid #555;
}

mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100vh;
}

mat-sidenav {
    padding: 20px 0 0 0;
}

mat-sidenav {
    width: 280px;
}

button.menu-btn {
    background: transparent;
    color: unset;
    border: none;
    cursor: pointer;
    outline: none;
    position: absolute;
}

mat-button-toggle-group {
    margin-left: 25px;
}

main {
    position: relative;
}

a.logout {
    display: flex;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
    width: 80px;
    justify-content: space-between;
    padding-left: 10px;
    position: absolute;
    bottom: 30px;
}

ul {
    list-style: none;
}

mat-sidenav nav a {
    text-decoration: none;
    color: inherit;
    font-size: 17px;
    width: 100%;
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li .add {
    margin-left: 14px;
    color: rgba(255, 237, 9, 0.75);
}

mat-sidenav .logo {
    width: 100%;
    text-align: center;
    display: block;
    width: 50px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 30px;
    padding: 20px;
    margin-top: 15px;
    transform: rotate(51deg);
    box-shadow: 0 0px 30px rgb(90 181 255 / 42%), 0 0px 30px rgb(90 167 255 / 42%), 0 0px 30px rgb(65 113 241 / 42%), 0 0px 30px rgb(21 21 85 / 82%);
}

mat-sidenav .logo img {
    max-height: 50px;
    display: block;
    filter: hue-rotate(268deg);
}

.logo {
    text-decoration: none;
}

mat-sidenav .logo p {
    color: #fff106;
    text-shadow: 3px 3px 2px #390759;
    position: relative;
    top: -9px;
    font-family: 'Righteous';
    font-size: 12px;
    transform: rotate(-28deg);
    left: -23px;
    display: none;
}

.mat-drawer-side {
    border-right: none;
}

mat-sidenav nav {
    margin-top: 125px;
}

mat-sidenav ul {
    padding-left: 25px;
}

nav ul li {
    width: 100%;
    border-radius: 38px;
    height: 41px;
    margin-bottom: 15px;
}

.add .material-icons {
    font-size: 21px;
    position: relative;
    top: 2px;
    text-shadow: 2px 2px 5px #5a106c;
}

.create-habit {
    width: 500px;
    margin: 40px auto 0;
    border-top: 1px solid var(--main-blue);
    border-radius: 24px;
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.1);
}

.create-habit .wrapper {
    display: grid;
    grid-gap: 15px;
    padding: 0 30px 50px;
}

.create-habit button {
    background: rgba(0, 0, 0, 0.1);
    border: none;
    height: 37px;
    color: #fff;
    border-radius: 8px;
}

.create-habit .day-of-week button {
    width: 10%;
}

.create-habit .day-of-week button:first-child {
    width: 80px;
}

.day-of-week {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.plus-menu .main-btn mat-icon {
    font-size: 55px;
    width: auto;
    height: auto;
    text-shadow: 3px 0px 0 var(--main-blue);
}

.mat-plus-menu.mat-menu-panel {
    background: transparent;
    box-shadow: none;
    position: relative;
    right: 40px;
    overflow: inherit;
}

.plus-menu .mat-menu-item {
    text-align: right;
}

.plus-menu {
    position: absolute;
    right: 303px;
    top: 39px;
}

.mat-plus-menu.mat-menu-panel .mat-menu-content {
    display: grid;
    justify-content: end;
    text-align: center;
}

.mat-plus-menu.mat-menu-panel .add {
    color: #fff;
    background: rgb(59 62 73);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.create-habit button[type="submit"] {
    background: var(--main-blue);
    width: 159px;
    margin: 35px auto 0;
    color: #fff;
    border-radius: 50px;
    height: 43px;
    text-transform: uppercase;
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.1);
}

.create-habit>p {
    font-size: 21px;
    color: #fff;
    padding: 24px 40px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 20px 20px 0 0;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.day-of-week button.active {
    color: #fff;
    letter-spacing: 0.2px;
    border: 1px solid var(--main-blue);
}

.habit .icon {
    color: #e12e6d;
    font-size: 59px;
    text-align: center;
}

.habit .icon mat-icon {
    font-size: 59px;
    height: auto;
    width: auto;
}

main {
    margin: 0 30px 0 0px;
}

main.first-page {
    margin: 0;
    background: url(https://s00.yaplakal.com/pics/pics_original/9/2/6/14511629.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.habit .name {
    text-align: center;
    font-size: 21px;
    display: flex;
    align-items: center;
    margin-right: 50px;
    margin-bottom: 0px;
}

.error.mat-snack-bar-container {
    background-color: #e12e6d;
    color: #fff;
}

.success.mat-snack-bar-container {
    background: var(--main-blue);
    border-radius: 40px;
    color: #fff;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    min-width: 273px;
    margin: 26px 24px;
}

.flex {
    display: flex;
}

.flex.dashboard {
    display: grid;
    grid-template-columns: 73% 27%;
}

.fa,
.fas {
    font-family: "FontAwesome";
    font-weight: 900;
}

.fa,
.fab,
.fad,
.fal,
.far,
.fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa.fa-star {
    font-size: 16px;
    padding-right: 5px;
    color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
}

.fa-star.filled {
    color: #fffa00;
}

.habit .flex {
    align-items: center;
}

p.stars {
    margin-bottom: 0px;
}

.habit .name mat-icon {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
    margin-right: 25px;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg, rgb(253 55 101) 20%, rgb(134 13 97) 100%);
}

.habit>.flex {
    justify-content: space-between;
}

.create-habit .mat-expansion-panel,
.habit .mat-expansion-panel {
    background: transparent;
    color: #fff;
    box-shadow: none;
}

.create-habit .mat-expansion-panel {
    margin-top: 10px;
}

mat-expansion-panel mat-icon {
    margin-right: 15px;
}

.create-habit .mat-expansion-panel-header-title {}

.habit .mat-expansion-panel-header-title {
    margin-right: 0;
    justify-content: flex-end;
}

.habit .mat-expansion-panel-header {
    padding: 0 10px;
}

.habit .mat-expansion-panel:hover,
.habit mat-expansion-panel-header:hover {
    background: transparent !important;
}

.create-habit .mat-expansion-panel:hover {
    background: transparent !important;
}

.create-habit mat-expansion-panel.mat-expansion-panel.ng-tns-c154-3.mat-expanded {
    background: transparent !important;
}

.create-habit mat-expansion-panel-header {
    padding: 0px 10px !important;
}

.create-habit mat-expansion-panel-header {
    background: rgba(0, 0, 0, 0.1) !important;
}

.create-habit mat-expansion-panel-header:hover {
    background: rgba(0, 0, 0, 0.1) !important;
    box-shadow: 0 -7px 15px var(--main-blue) !important;
    padding: 0px 10px !important;
}

.create-habit mat-expansion-panel-header.mat-expanded {
    height: 48px;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0.1)!important;
    box-shadow: 0 -7px 15px var(--main-blue) !important;
}

.create-habit .mat-expansion-panel-body {
    padding: 0 0px 16px;
}

.habit .contrlos mat-icon {
    color: #fff;
}

.habit .contrlos button {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.habit .contrlos button:hover {
    background: rgba(0, 0, 0, 0.1);
}

.habit .edit {
    color: #fff;
}

.right>.flex {
    justify-content: space-between;
    position: relative;
    z-index: 1;
    margin-bottom: 0px;
    padding: 10px 18px 10px;
    background: var(--dark-back);
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}

.habit .name {
    text-align: center;
    font-size: 16px;
    display: flex;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 0px;
    color: #fff;
}

.habit .name mat-icon {
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 50%;
    margin-right: 25px;
    color: #fff;
    color: inherit;
}

.flex-timer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.habit .mat-expansion-panel-header {
    height: unset;
}

.save-comment {
    background: #fff;
    color: #4d5377;
    border-radius: 50px;
    height: 40px;
    width: 76px;
    margin-left: 16px;
    font-size: 14px;
}

.habit .mat-expansion-panel-body {
    padding: 10px 0;
    margin: 15px 0 0;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.time span {
    font-size: 15px;
}

.flex-timer.one {
    justify-content: flex-end;
}


/*******/

app-item-habit.ng-star-inserted {
    border-top: 1px solid var(--main-blue);
    border-radius: 24px;
    margin-bottom: 30px;
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.1);
}

.mat-drawer-container {
    background-color: transparent;
}

.header mat-icon {
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    padding: 8px;
    border-radius: 50%;
    font-size: 21px;
    width: auto;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 46px;
    margin-top: 20px;
    background: var(--dark-back);
    border-radius: 20px;
    padding: 20px 15px;
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.05), 0 0 10px rgba(0, 0, 0, 0.3);
    border-left: 1px solid var(--main-blue);
    border-right: 1px solid var(--main-blue);
}

.header h1 {
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

h1 mat-icon {
    margin-right: 18px;
}

.header ul {
    display: flex;
    margin: 0px;
}

.header ul li {
    margin-left: 12px;
}

main .wrapper {
    /*
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px 50px 0 0;
    */
    padding: 30px 0px 100px 46px;
    margin-top: 0px;
}

nav .active {
    height: 100%;
    border-radius: 30px 0 0 30px;
    padding: 5px 20px;
    border-left: 1px solid var(--main-blue);
    background-color: transparent;
    background-image: linear-gradient(62deg, #4660b6 0%, rgba(0, 0, 0, 0) 17%);
}

.mat-drawer-inner-container {
    overflow-y: hidden !important;
}

app-item-habit>.habit {
    display: flex;
    position: relative;
    background: rgb(75 81 115);
    margin-bottom: 48px;
    border-radius: 20px;
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.05), 0 0 10px rgba(0, 0, 0, 0.3);
    border-top: 1px solid var(--main-blue);
}

.habit .left {
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.habit .right {
    width: 100%;
}

.calendar {
    border-top: 1px solid var(--main-blue);
    border-radius: 24px;
    padding: 22px;
    width: 100%;
    box-sizing: border-box;
    background: var(--dark-back);
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.05), 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

.flex.dashboard {
    display: grid;
    grid-template-columns: 63% 37%;
    grid-gap: 30px;
    width: calc(100% - 30px);
}

.calendar .name-of-days {
    display: flex;
    justify-content: space-between;
}

.calendar .name-of-days span {
    background: var(--main-blue);
    padding: 5px;
    border-radius: 3px;
}

.calendar .title {
    text-align: center;
    margin-bottom: 17px;
    font-size: 17px;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 5px;
}

.calendar .name-of-days {
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    grid-gap: 5px;
}

.mat-checkbox .mat-checkbox-ripple {
    left: calc(50% - 25px);
    top: calc(50% - 25px);
    height: 50px;
    width: 50px;
    border-radius: 50% !important;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    -ms-border-radius: 50% !important;
    -o-border-radius: 50% !important;
}

.mat-drawer {
    background-color: var(--dark-back);
    color: #fff;
    border-top: 1px solid var(--main-blue);
    border-bottom: 1px solid var(--main-blue);
    /*
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.1);
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.1), inset 0 0px 50px rgb(0, 0, 0, 0.2);
    */
    border-radius: 24px;
    margin: 20px;
    position: relative;
    overflow-y: unset !important;
    height: calc(100% - 40px);
}

.mat-drawer:before {
    content: "";
    width: 80%;
    height: 6px;
    background: var(--main-blue);
    display: block;
    top: -6px;
    position: absolute;
    left: 10%;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
    z-index: -1;
}

.mat-drawer:after {
    content: "";
    width: 80%;
    height: 6px;
    background: var(--main-blue);
    display: block;
    bottom: -6px;
    position: absolute;
    left: 10%;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    z-index: -1;
}

nav ul li mat-icon {
    margin-right: 20px;
}


/*
mat-sidenav-container.mat-drawer-container.mat-sidenav-container {
    background-image: linear-gradient(-213deg, #675ebc61 0%, rgba(0, 0, 0, 0) 37%);
}
*/

.days span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

.days span.active {
    background: rgba(0, 0, 0, 0.2);
}

.shadow {
    position: fixed;
    background: rgba(0, 0, 0, 0.1);
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.icon-window,
.color-window {
    display: none;
    background: #3d425e;
    width: fit-content;
    padding: 15px;
    border-radius: 20px;
    position: absolute;
    top: -2px;
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 15px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.icon-window.active,
.color-window.active {
    opacity: 1;
    z-index: 3;
}

.icon-btn p,
.color-btn p {
    background: transparent;
    box-shadow: none;
    font-size: 12px;
    padding: 0px;
    font-weight: normal;
    margin: 5px 0 0 0;
}

.color-btn button,
.icon-btn button {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
}

.color-btn button {
    background: var(--main-blue);
}

.color-block,
.icon-block {
    width: 45px;
    text-align: center;
    position: relative;
}

.color-window span {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.icon-window mat-icon {
    background: rgba(0, 0, 0, 0.1);
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.difficulty button {
    background: transparent;
    height: unset;
    border-radius: 0px;
    text-transform: capitalize;
}

.difficulty button span {
    background: #FF467E;
    width: 14px;
    height: 14px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 9px;
}

.difficulty button span.medium {
    background: #fff8a6;
}

.difficulty button span.easy {
    background: #62D2A2;
}

.difficulty {
    display: grid;
}

.difficulty button {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.create-habit .icon-block,
.create-habit .color-block,
.create-habit .difficulty {
    margin-left: 20px;
}

.clock {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    position: relative;
}

.vertical {
    position: absolute;
    height: 100%;
    display: grid;
    justify-content: space-between;
    align-items: flex-end;
    right: calc(50% - 12px);
    align-content: space-between;
    z-index: 1;
}

.horizontal {
    position: absolute;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: calc(50% - 16px);
    align-content: space-between;
    left: 2%;
    z-index: 1;
}

.wide {
    position: absolute;
    width: 83%;
    display: grid;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 24%;
    align-content: space-between;
    grid-template-columns: 1fr 1fr;
    height: 56%;
    left: 8%;
}

.wide button:nth-child(odd) {
    justify-self: left;
}

.wide button:nth-child(even) {
    justify-self: right;
}

.narrow {
    position: absolute;
    width: 50%;
    display: grid;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 6%;
    align-content: space-between;
    grid-template-columns: 1fr 1fr;
    height: 89%;
    left: 24%;
}

.narrow button:nth-child(odd) {
    justify-self: left;
}

.narrow button:nth-child(even) {
    justify-self: right;
}

.clock button {
    background: transparent;
    font-size: 16px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

.clock button:hover {
    background: #755afd;
}

.picker-dialog {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border: none !important;
}

.picker-cell__body:after {
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #08080c)!important;
}

.picker-cell__body:before {
    background-image: linear-gradient(0deg, hsla(0, 0%, 100%, 0), #08080c)!important;
}

.picker-cell+.picker-cell {
    border-left: none!important;
}

.picker-header,
.picker-footer {
    border: none !important;
}

.picker-dialog {
    max-width: 500px;
    margin-left: calc(50% - 117px);
}

.picker-cancel {
    color: #fff;
}

.picker-title {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.25rem;
    margin: 0;
    color: #fff;
}

.picker-cancel:hover,
.picker-confirm:hover {
    background: rgba(0, 0, 0, 0.1)!important;
    color: #fff !important;
}

app-time-picker .flex {
    align-items: center;
    justify-content: space-between;
}

svg.chart {
    min-width: auto !important;
    margin: 0 auto;
    display: block;
}

.mat-chip.mat-standard-chip {
    background: rgb(70 76 109);
}

.mat-chip-list-wrapper {
    margin-bottom: 20px !important;
}

app-timer .contrlos button.active {
    background: rgba(0, 0, 0, 0.2);
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
}

.flex-timer ul {
    padding-left: 0px;
}

.flex-timer ul li mat-icon {
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
}

.flex-timer ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

span.start-stop {
    color: rgba(255, 255, 255, 0.7);
    width: -webkit-fill-available;
}

.flex-timer .diff {
    font-size: 16px;
    margin-right: 16px;
}

.flex-timer ul li mat-icon.main-icon {
    font-size: 22px;
    margin-right: 12px;
}

.tooltip {
    background-color: rgba(0, 0, 0, 0.8);
}

span.start-stop button {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin-left: 18px;
}

button.delete mat-icon {
    width: unset;
    height: unset;
}

button.delete {
    margin-left: 12px;
}

.habit .timer mat-panel-title {
    justify-content: flex-start;
}

.habit .timer mat-expansion-panel-header {
    padding: 0px;
}

.flex-timer .contrlos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contrlos>div {
    font-size: 17px;
}

span.between {
    margin-left: 18px;
}

.flex-timer .contrlos button.more {
    margin-left: 20px;
}

ul.history {
    padding: 5px 0 0 2px;
}

.habit>mat-icon.main-icon {
    border-top: 1px solid var(--main-blue);
    border-radius: 50%;
    margin-bottom: 30px;
    width: 68px !important;
    height: 68px !important;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -34px;
    padding-top: 12px;
    left: calc(50% - 34px);
    background: var(--dark-back);
    font-size: 22px;
    color: #ffffff;
}

mat-expansion-panel-header {
    padding: 0px !important;
}

.flex-timer .mat-tab-label {
    width: auto;
    min-width: auto;
    height: 48px;
    opacity: 0.5;
    align-items: flex-end;
    padding: 0 5px 5px;
}

.flex-timer .mat-tab-label.mat-tab-label-active {
    opacity: 1;
}

.flex-timer .mat-tab-labels {
    justify-content: space-around;
    background: var(--dark-back);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.mat-tab-labels {
    background: var(--dark-back);
}

.task-item .mat-tab-label-container {
    border-radius: 0 0 13px 13px;
}

mat-ink-bar.mat-ink-bar {
    display: none;
}

.flex-timer .mat-tab-nav-bar,
.flex-timer .mat-tab-header {
    border-bottom: none;
}

.flex-timer mat-tab-group {
    width: 100%;
    max-width: 100%;
}

.mat-tab-body-wrapper {
    padding: 0px 18px;
}

.mat-tab-label-content mat-icon {
    position: absolute;
    top: 7px;
    font-size: 17px;
    width: auto;
    height: auto;
    transform: rotate(0.03deg);
}

.habit-list .mat-tab-body-content {
    height: auto;
    overflow: hidden;
}

.habit-list .mat-tab-body-content app-timer {
    margin: 12px 0 12px;
    display: block;
}

.habit .date {
    padding-left: 5px;
}

.habit .comment-form {
    margin-top: 8px;
}

.habit .comment {
    margin-top: 12px;
}

.habit .mat-tab-label .mat-tab-label-content {
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 0.7px;
}

.timeframe {
    min-height: 15px;
    position: absolute;
    top: -16px;
    font-size: 9px;
    right: 40px;
    background: var(--main-blue);
    padding: 0px 15px;
    border-radius: 25px 25px 0 0;
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    line-height: 0;
    align-items: center;
}

.comment-form .mat-form-field {
    width: calc(100% - 92px);
}

.difficulty-block {
    min-height: 7px;
    position: absolute;
    bottom: -7px;
    font-size: 4px;
    right: 40px;
    background: var(--main-blue);
    padding: 0px 10px;
    border-radius: 0 0 25px 25px;
    width: calc(100% - 80px);
    display: flex;
    justify-content: space-between;
    z-index: -1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.svg-with-text {
    position: relative;
}

.svg-with-text .text p {
    margin: 0px;
    position: absolute;
    max-width: 105px;
    opacity: 0.7;
}

.svg-with-text .text {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.svg-with-text .text p:first-child {
    bottom: 56px;
    right: 15px;
    max-width: 85px;
}

.svg-with-text .text p:nth-child(2) {
    bottom: 146px;
    right: -4px;
}

.svg-with-text .text p:nth-child(3) {
    top: 0px;
    right: 77px;
}

.svg-with-text .text p:nth-child(4) {
    top: 0px;
    left: 63px;
}

.svg-with-text .text p:nth-child(5) {
    bottom: 146px;
    left: 53px;
    max-width: 80px;
}

.svg-with-text .text p:nth-child(6) {
    bottom: 56px;
    left: 36px;
    max-width: 85px;
}

.svg-with-text .text p:nth-child(7) {
    bottom: 0;
    left: 38px;
    max-width: 140px;
}

.svg-with-text .text p:nth-child(8) {
    bottom: 0;
    right: 64px;
}

.category-picker,
.timepicker,
.habit-comment-form {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding-bottom: 1px;
    margin-bottom: 20px;
}

.timepicker .flex,
.habit-comment-form .form {
    padding: 0px 15px;
}

.timepicker .flex .mat-form-field {
    max-width: calc(50% - 15px);
}

.category-picker h2,
.timepicker h2,
.habit-comment-form h2 {
    background: rgb(70 76 109);
    border-radius: 10px 10px 0 0;
    margin-bottom: 25px;
    padding: 5px 10px;
    font-size: 15px;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    font-weight: 400;
}

.category-picker .mat-chip-list-wrapper {
    margin-top: 25px;
    margin-left: 10px;
}

.svg-with-text .text p.active {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.habit-comment-form .mat-form-field {
    width: 100%;
}

.difficulty button.active {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.picker-picked {
    font-size: 1.55em !important;
}

form.create-habit.task .timepicker {
    background: unset;
    padding: 0px;
    margin: 0px;
}

form.create-habit.task .timepicker h2 {
    display: none;
}

form.create-habit.task .timepicker .flex {
    padding: 0px;
}

.mat-calendar-body-selected {
    background-color: #7159f2;
}

.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-keyboard-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical),
.cdk-program-focused .mat-calendar-body-active>.mat-calendar-body-cell-content:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
    background-color: rgba(255, 255, 255, 0.1);
}

.mat-datepicker-content {
    background-color: #3d425e;
}

.mat-form-field-label {
    color: #fff;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #7159f2;
}

.mat-form-field.mat-focused .mat-form-field-label {
    color: #fff;
}

app-time-picker {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.subtasks button[type="submit"] {
    display: block;
    margin: 15px auto 0;
}

.task-item .wrapper {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.flex.options .contrlos {
    display: flex;
    align-items: center;
}

.task-item mat-checkbox {
    margin-right: 24px;
}

.flex.options ul.history li {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex.options ul.history li mat-icon {
    margin-right: 10px;
}

.flex.options ul.history li button mat-icon {
    margin-right: 0px;
    color: #fff;
}

.flex.options .contrlos button mat-icon {
    color: #fff;
    text-shadow: 0 0 3px black;
}

app-timer {
    min-width: 255px;
}

.task-item p.title {
    margin-bottom: 0px;
    min-width: 170px;
    display: flex;
    align-items: center;
}

.task-item .flex .main-icon {
    margin-right: 15px;
    display: flex;
    width: 35px;
    height: 35px;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.task-item .wrapper>.flex {
    align-items: center;
}

.flex.options .time {
    margin-left: 25px;
}

.task-item mat-checkbox {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    background: var(--main-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.task-item .more mat-icon {
    color: #fff;
}

.flex.options {
    width: 100%;
    background: #3c425c;
    border-radius: 0 0 14px 14px;
}

.flex.options mat-tab-group {
    width: 100%;
}

.flex.options .mat-tab-labels {
    display: flex;
    justify-content: space-around;
}

.flex.options .mat-tab-label {
    align-items: flex-end;
    padding-bottom: 10px;
    height: 60px;
}

.flex.options .mat-tab-label-content mat-icon {
    top: 11px;
}

.flex.options .mat-tab-body-wrapper {
    padding: 20px 18px;
    background: var(--dark-back);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.task-item {
    margin: 0 5px 20px;
    border-radius: 20px;
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.05), 0 0 10px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 13px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    background: var(--dark-back);
    position: relative;
    border-right: 1px solid var(--main-blue);
    border-left: 1px solid var(--main-blue);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.task-item:before {
    content: "";
    height: 76%;
    width: 6px;
    background: var(--main-blue);
    display: block;
    top: 12%;
    position: absolute;
    left: -5px;
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;
    z-index: -1;
}

.task-item:after {
    content: "";
    height: 76%;
    width: 6px;
    background: var(--main-blue);
    display: block;
    top: 12%;
    position: absolute;
    right: -5px;
    border-radius: 0 20px 20px 0;
    -webkit-border-radius: 0 20px 20px 0;
    -moz-border-radius: 0 20px 20px 0;
    -ms-border-radius: 0 20px 20px 0;
    -o-border-radius: 0 20px 20px 0;
    z-index: -1;
}

.subtasks .item {
    margin: 2px 2px 10px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
}

.subtasks .more-info {
    padding: 10px;
}

.subtasks .item .number {
    width: 23px;
    height: 23px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 14px;
    border: 2px solid var(--main-blue);
}

.subtasks .item mat-checkbox {
    width: unset;
    height: unset;
    background: transparent;
}

.subtasks .item .timefarme {
    background: rgba(0, 0, 0, 0.1);
    padding: 0 10px;
    border-radius: 4px;
    font-size: 10px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.flex.options .mat-tab-label {
    padding: 0 0 10px;
    min-width: unset;
}

.subtasks .item .flex {
    align-items: center;
}

.flex.main-block {
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;
}

button.show-comment {
    color: #fff;
}

.subtasks .note {
    background: rgba(0, 0, 0, .1);
    padding: 15px;
    border-radius: 5px;
    margin-top: 10px;
}

span.done-span {
    background: rgba(0, 0, 0, 0.1);
    padding: 4px 7px;
    display: block;
    width: max-content;
    border-radius: 4px;
    border-left: 1px solid var(--main-blue);
    border-right: 1px solid var(--main-blue);
    margin-top: 15px;
}

.statistic-calendar {
    border-top: 1px solid var(--main-blue);
    border-radius: 24px;
    padding: 22px;
    width: 100%;
    box-sizing: border-box;
    background: var(--dark-back);
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.05), 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 0px;
    max-width: 420px;
}

.statistic-calendar .cal-month-view {
    border: none;
    background: transparent;
}

.statistic-calendar h3 {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.statistic-calendar .cal-month-view .cal-day-cell {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

.statistic-calendar .cal-month-view .cal-day-cell:not(:last-child) {
    border-right: none;
}

.statistic-calendar .cal-month-view .cal-cell-row:hover {
    background-color: transparent;
}

.statistic-calendar .cal-month-view .cal-days .cal-cell-row {
    border-bottom: none;
}

.statistic-calendar .cal-month-view .cal-days {
    border: none;
}

.statistic-calendar .cal-month-view .cal-day-cell {
    min-height: unset;
}

.statistic-calendar .cal-month-view .cal-cell-top {
    min-height: unset;
}

.statistic-calendar mwl-calendar-month-cell {
    position: relative;
}

.statistic-calendar .cal-month-view .cal-cell-row .cal-cell:hover,
.statistic-calendar .cal-month-view .cal-cell.cal-has-events.cal-open,
.statistic-calendar .cal-month-view .cal-day-cell.cal-today {
    background: rgba(0, 0, 0, 0.1);
}

.statistic-calendar .cal-month-view .cal-day-badge {
    display: none;
}

.statistic-calendar .cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: inherit;
}

.statistic-calendar .cal-month-view .cal-events,
.statistic-calendar .cal-month-view .cal-event {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.statistic-calendar span.cal-day-number {
    position: relative;
    z-index: 1;
}

.statistic-calendar .cal-month-view .cal-day-cell.cal-weekend .cal-day-number {
    color: var(--main-blue);
}

.statistic-calendar .cal-month-view .cal-cell-row {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 6px;
    margin-bottom: 6px;
}

.statistic-calendar .cal-month-view .cal-day-number {
    font-size: 15px;
    opacity: 1;
    margin-top: 0;
    margin-right: 0;
    float: unset;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3px;
}

.statistic-calendar .cal-month-view .cal-header .cal-cell {
    padding: 5px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    font-weight: 400;
}

.statistic-calendar .cal-month-view .cal-events,
.statistic-calendar .cal-month-view .cal-event {
    margin: 0px;
}

.calendar-ctatistic .mat-tab-label {
    opacity: 1;
    height: auto;
    padding: 0;
    min-width: unset;
    margin-right: 6px;
    margin-bottom: 6px;
}

.calendar-ctatistic .mat-tab-label-content span {
    background: rgb(67 73 103);
    opacity: 1;
    padding: 9px 17px;
    border-radius: 10px;
    margin-bottom: 1px;
    border-left: 1px solid rgb(67 73 103);
    border-right: 1px solid rgb(67 73 103);
    display: flex;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.2);
    margin: 6px;
}

.calendar-ctatistic .mat-tab-label-active span {
    border-left: 1px solid var(--main-blue);
    border-right: 1px solid var(--main-blue);
}

.calendar-ctatistic .mat-tab-header {
    border-bottom: none;
}

.calendar-ctatistic .mat-tab-label-content mat-icon {
    position: inherit;
    font-size: 19px;
    width: auto;
    height: auto;
    transform: rotate(0.03deg);
    margin-right: 8px;
}

.statistic.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.statistic-notes {
    width: 100%;
    padding: 0px;
    margin: 0px;
    background: var(--dark-back);
    border-top: 1px solid var(--main-blue);
    border-radius: 24px;
    padding: 20px;
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.05), 0 0 10px rgba(0, 0, 0, 0.3);
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

p.tip {
    background: rgba(0, 0, 0, 0.15);
    width: max-content;
    padding: 16px;
    margin-left: 10px;
    border-radius: 16px;
}

.statistic-notes h3 {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.3px;
}

.statistic-notes li {
    margin-left: 15px;
    position: relative;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.statistic-notes li span.date {
    background: #755afe;
    padding: 1px 5px;
    font-size: 12px;
    border-radius: 4px;
    margin-right: 10px;
    margin-left: 10px;
}

.statistic-notes li .number {
    background: rgba(0, 0, 0, 0.1);
    min-width: 25px;
    min-height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #755afe;
}

.statistic-notes li .flex {
    align-items: center;
}

.calendar-ctatistic {
    background: var(--dark-back);
    padding: 20px;
    border-radius: 24px;
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.05), 0 0 10px rgba(0, 0, 0, 0.3);
    border-top: 1px solid var(--main-blue);
    border-bottom: 1px solid var(--main-blue);
    position: relative;
}

.grid-time-stat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    grid-gap: 30px;
}

.grid-time-stat>div {
    background: var(--dark-back);
    border-radius: 24px;
    box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.05), 0 0 10px rgba(0, 0, 0, 0.3);
    border-top: 1px solid var(--main-blue);
    border-bottom: 1px solid var(--main-blue);
    position: relative;
}

.grid-time-stat .date {
    background: var(--main-blue);
    padding: 1px 4px;
    border-radius: 4px;
    font-size: 12px;
    margin: 0 3px 0 8px;
}

.title-p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.1);
    padding: 16px;
    border-radius: 0;
    border-radius: 24px 24px 0 0;
    -webkit-border-radius: 24px 24px 0 0;
    -moz-border-radius: 24px 24px 0 0;
    -ms-border-radius: 24px 24px 0 0;
    -o-border-radius: 24px 24px 0 0;
}

.grid-time-stat>div ul li {
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 7px;
}

.grid-time-stat>div ul li:last-child {
    border-bottom: none;
}

.grid-time-stat .title,
.grid-time-stat .main-time {
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.grid-time-stat .title mat-icon {
    margin-right: 8px;
}

.grid-time-stat ul {
    padding: 0 14px 0px;
}

.grid-time-stat ul li .number {
    background: rgba(0, 0, 0, 0.1);
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #755afe;
    box-sizing: initial;
    font-size: 12px;
    line-height: 0;
}

.grid-time-stat>div:before {
    content: "";
    width: 80%;
    height: 6px;
    background: var(--main-blue);
    display: block;
    top: -6px;
    position: absolute;
    left: 10%;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
    z-index: -1;
}

.grid-time-stat>div:after {
    content: "";
    width: 80%;
    height: 6px;
    background: var(--main-blue);
    display: block;
    bottom: -6px;
    position: absolute;
    left: 10%;
    border-radius: 0 0 20px 20px;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    -ms-border-radius: 0 0 20px 20px;
    -o-border-radius: 0 0 20px 20px;
    z-index: -1;
}

.grid-time-stat i.fa.fa-star {
    font-size: 9px;
    padding-right: 3px;
    cursor: default;
}

.grid-time-stat .left {
    display: flex;
    align-items: center;
}

.grid-time-stat p.stars {
    display: flex;
    align-items: center;
    margin-left: 13px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    border: 1px solid transparent;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
    transition: background-color 5000s ease-in-out 0s;
}

.habit-list-control-view .list {
    border-radius: 20px;
    padding: 20px 25px;
    box-shadow: 0 -7px 15px rgb(255 255 255 / 4%), 0 0 10px rgb(0 0 0 / 30%);
    border-left: 1px solid var(--main-blue);
    border-right: 1px solid var(--main-blue);
    background-color: var(--dark-back);
}

.habit>.flex>button {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.habit-list-control-view .list .habit button {
    display: flex;
    align-items: center;
    color: #fff;
    padding: 17px 25px;
    justify-content: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.habit-list-control-view .list .habit button:hover {
    background-color: var(--main-blue);
}

.habit-list-control-view .list .habit button mat-icon.mat-icon {
    font-size: 17px;
    width: auto;
    height: auto;
    margin: 0 12px;
}

.habit-list-control-view .list .habit {
    border-bottom: 1px solid var(--main-blue);
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
}

.habit-list-control-view .list .habit .flex.title {
    justify-content: flex-start;
    font-size: 16px;
}

.habit-list-control-view .list .habit .flex.title mat-icon.mat-icon {
    width: auto;
    height: auto;
    margin-right: 10px;
}

.signinup {
    display: flex;
    position: absolute;
    top: calc(50% - 42px);
    left: calc(50% - 192px);
    background: black;
    padding: 30px 145px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 0px yellow, 10px 10px 0px #0ee90e, 15px 15px 0px #0095ff, 20px 20px 0px blue, 25px 25px 0px #ff00bc;
    cursor: pointer;
    font-size: 15px;
    text-transform: uppercase;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.signinup i.material-icons.person {
    margin-right: 17px;
}

.signinup:hover {
    box-shadow: 10px 10px 0px yellow, 20px 20px 0px #0ee90e, 30px 30px 0px #0095ff, 40px 40px 0px blue, 50px 50px 0px #ff00bc;
}

.mobile-header {
    display: none;
}

.habit>mat-icon.main-icon,
.flex-timer .mat-tab-label,
.flex.options .mat-tab-label,
.calendar .name-of-days span,
.days span,
mat-sidenav nav a,
.habit .name,
.task-item .wrapper>.flex {
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

button.close-sidenav {
    color: #fff;
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

mat-spinner {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.pie-chart {
    display: block;
    margin-top: 40px;
}

.calendar-ctatistic .mat-tab-labels {
    flex-wrap: wrap;
    margin-bottom: 15px;
}

mat-sidenav-content.mat-drawer-content.mat-sidenav-content .mat-progress-spinner circle,
.mat-spinner circle {
    stroke: var(--main-blue);
}

@media (max-width: 600px) {
    body,
    div,
    p {
        font-size: 12px;
    }
    .statistic-notes {
        grid-column-start: unset;
        grid-column-end: unset;
        grid-row-start: unset;
        grid-row-end: unset;
    }
    p.tip {
        width: 100%;
        padding: 12px;
        margin-left: 0px;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    .wrapper.login {
        margin: 10px 0;
    }
    .mat-dialog-content {
        padding: 0 15px;
    }
    .mat-dialog-title button {
        right: -30px;
        top: -9px;
    }
    .mat-dialog-content .mat-tab-label {
        height: 28px;
    }
    .mobile-header {
        display: flex;
        height: 60px;
        background: var(--dark-back);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: #fff;
        padding: 0 15px;
        align-items: stretch;
        justify-content: space-between;
        z-index: 9;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 -7px 15px rgba(255, 255, 255, 0.05), 0 0 10px rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid var(--main-blue);
    }
    .mobile-header button mat-icon.mat-icon {
        color: #fff;
    }
    .mobile-header .logo {
        width: 40px;
    }
    .mobile-header button {
        padding: 0px;
        background: var(--main-blue);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    .mobile-header a.logo img {
        max-height: 64%;
        filter: hue-rotate(268deg);
        transform: rotate(51deg);
        margin-top: 12px;
        -webkit-transform: rotate(51deg);
        -moz-transform: rotate(51deg);
        -ms-transform: rotate(51deg);
        -o-transform: rotate(51deg);
    }
    .calendar-ctatistic .mat-tab-labels {
        flex-wrap: wrap;
        margin-bottom: 15px;
    }
    .calendar-ctatistic .mat-tab-label {
        margin-right: 6px;
        margin-bottom: 6px;
    }
    .calendar-ctatistic .mat-tab-label-content span {
        margin: 0px;
    }
    mat-sidenav.mat-drawer.mat-sidenav {
        display: none;
    }
    mat-sidenav.mat-drawer.mat-sidenav.active {
        display: block;
        margin: 0px;
        border-radius: 0px;
        width: 100%;
        height: 100%;
    }
    button.close-sidenav {
        display: block;
    }
    mat-sidenav nav {
        margin-top: 55px;
    }
    .flex.dashboard {
        grid-template-columns: 1fr;
        width: 100%;
    }
    .flex.dashboard .left {
        display: block;
        width: 100%;
        overflow-x: hidden;
    }
    main {
        margin: 0;
    }
    .header {
        display: none;
    }
    .plus-menu {
        display: none;
    }
    main .wrapper {
        padding: 75px 15px 10px;
    }
    .grid-time-stat .title,
    .grid-time-stat .main-time {
        font-size: 12px;
    }
    .grid-time-stat .title .mat-icon {
        height: auto;
        width: auto;
        font-size: 17px;
    }
    .grid-time-stat .date {
        font-size: 10px;
    }
    .flex.options .contrlos button mat-icon {
        text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    }
    .task-item {
        margin: 0 5px 12px;
    }
    .task-item ul.history span.diff {
        margin-right: 15px;
    }
    .task-item .wrapper {
        padding: 12px 10px;
    }
    .task-item .flex .main-icon {
        margin-right: 5px;
        min-width: 25px;
        min-height: 25px;
        max-width: 25px;
        max-height: 25px;
        font-size: 15px;
    }
    .grid-time-stat,
    .habit-list-control-view .list {
        grid-template-columns: 1fr;
        grid-gap: 25px;
    }
    .habit-list-control-view .list {
        grid-gap: 20px;
    }
    .statistic.grid {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .calendar-ctatistic {
        background: transparent;
        padding: 0;
        border-radius: 0px;
        box-shadow: none;
        border-top: none;
        border-bottom: none;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        -ms-border-radius: 0px;
        -o-border-radius: 0px;
    }
    .calendar-ctatistic .mat-tab-label-content span {
        opacity: 1;
        padding: 7px 10px;
        font-size: 12px;
        font-weight: 400;
    }
    .task-item p.title {
        font-size: 12px;
        display: block;
    }
    .task-item button.more mat-icon.mat-icon,
    button.show-comment.ng-star-inserted mat-icon.mat-icon {
        height: unset;
        width: unset;
        font-size: 20px;
    }
    .task-item button.more,
    button.show-comment {
        padding: 0px;
    }
    .task-item mat-checkbox {
        transform: scale(0.8);
    }
    .flex.dashboard .calendar {
        display: none;
    }
    .habit .name {
        font-size: 12px;
        margin-right: 15px;
    }
    .fa.fa-star {
        font-size: 13px;
        padding-right: 4px;
    }
    .habit>mat-icon.main-icon {
        width: 50px !important;
        height: 50px !important;
        top: -26px;
        padding-top: 9px;
        left: calc(50% - 25px);
        font-size: 17px;
    }
    .habit .right>.flex {
        padding: 7px 12px 7px;
    }
    .flex-timer .mat-tab-label,
    .flex.options .mat-tab-label {
        height: 34px;
        padding: 7px 5px 0px;
    }
    .habit .mat-tab-label .mat-tab-label-content,
    .task-item .mat-tab-label .mat-tab-label-content {
        font-size: 9px;
    }
    .habit .mat-tab-label-content mat-icon.mat-icon,
    .task-item .mat-tab-label-content mat-icon.mat-icon {
        top: 4px;
        font-size: 12px;
    }
    .habit .contrlos button,
    .contrlos button {
        width: 24px;
        height: 24px;
        margin-right: 3px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
    .task-item app-timer .mat-icon,
    .habit .mat-icon {
        height: unset;
        width: unset;
        font-size: 17px;
    }
    app-timer .contrlos>div {
        font-size: 14px;
    }
    app-timer .flex-timer ul li mat-icon.main-icon {
        font-size: 17px;
        margin-right: 7px;
    }
    app-timer .flex-timer .diff {
        font-size: 13px;
        margin-right: 15px;
    }
    app-timer span.start-stop button {
        font-size: 13px;
        margin-left: 4px;
    }
    app-timer span.between {
        margin-left: 4px;
    }
    .save-comment {
        height: 31px;
        width: 60px;
        margin-left: 10px;
        font-size: 12px;
    }
    .comment-form .mat-form-field {
        width: calc(100% - 70px);
    }
    .habit .comment {
        font-size: 12px;
    }
    .mat-h2,
    .mat-title,
    .mat-typography h2 {
        margin: 0 0 7px;
        font-size: 13px;
    }
    .mat-tab-body-wrapper {
        padding: 0px 5px;
    }
    .flex.options .mat-tab-body-wrapper {
        padding: 10px 12px;
    }
    .subtasks .item .number {
        min-width: 20px;
        min-height: 20px;
        max-width: 20px;
        max-height: 20px;
        margin-right: 10px;
        border: 1px solid var(--main-blue);
        font-size: 11px;
    }
    .flex.main-block {
        padding: 6px;
    }
    .subtasks .item .timefarme {
        display: none;
    }
    .flex.options .contrlos {
        justify-content: space-between;
    }
    .subtasks .note {
        padding: 8px;
        margin-top: 8px;
    }
}