<div class="habit">

    <div class="flex title">
        <ng-template [ngIf]="!habit.isIconUndefined()" [ngIfElse]="loading">
            <mat-icon class="main-icon" [style.color]="habit.getColor()">{{habit.getIcon()}}</mat-icon>
        </ng-template>

        <ng-template #loading>
            <mat-icon [style.color]="habit.getColor()" class="main-icon">work</mat-icon>
        </ng-template>

        {{habit.name}}

    </div>

    <div class="flex">

        <button (click)="onEdit(habit._id)"><mat-icon>edit</mat-icon>Edit</button>
        <button (click)="onDelete(habit)"><mat-icon>delete</mat-icon>Delete </button>
    </div>

</div>