<div class="flex">
    <div class="time">
        <span>{{time.hours}}</span> : <span>{{time.minutes}}</span> : <span>{{time.seconds}}</span>
    </div>

    <div class="contrlos">
        <button type="button" (click)="play()"><mat-icon>play_arrow</mat-icon></button>
        <button type="button" (click)="pause()"><mat-icon>pause</mat-icon></button>
        <button type="button" (click)="pause()"><mat-icon>stop</mat-icon></button>
        <button class="replay" type="button" (click)="startOver()"><mat-icon>replay</mat-icon></button>
    </div>
</div>