<div>

    <input type="hidden" #picker value="13:00">

    <div class="contrlos">
        <div>
            <button type="button" (click)="play()" [ngClass]="{'active': (timer.checkStatusTimer('start'))}"><mat-icon>play_arrow</mat-icon></button>
            <button type="button" (click)="pause()" [ngClass]="{'active': (timer.checkStatusTimer('pause'))}"><mat-icon>pause</mat-icon></button>
            <button type="button" (click)="stop()" [ngClass]="{'active': (timer.checkStatusTimer('stop'))}"><mat-icon>stop</mat-icon></button>
            <button class="replay" type="button" (click)="reset()"><mat-icon>replay</mat-icon></button>
        </div>

        <div class="time">
            <div class="passed-time" *ngIf="!timer.checkStatusTimer('start')">
                {{getPassedTime()}}
            </div>

            <div class="timer" *ngIf="timer.checkStatusTimer('start')">
                {{getCounter()}}
            </div>
        </div>

        <ng-template [ngIf]="!timer.isTimestampEmpty()">
            <button class="more" type="button" (click)="show = !show" matTooltipClass="tooltip" matTooltip="Show more" matTooltipPosition="right">
                <mat-icon>expand_more</mat-icon>
            </button>
        </ng-template>
    </div>

    <ul class="history" *ngIf="(timer.status !== 'temp' && show && !timer.isTimestampUndefined())">

        <li *ngFor="let time of timer.getTimestampArray(); let i = index">

            <mat-icon class="main-icon">timer</mat-icon>

            <span class="diff">
                {{getDiff(time.start, time.stop, timer.getStatusTimer())}}
            </span>

            <span class="start-stop">
                    
                    <button type="button" (click)="changeTimestamp(time.start, i, 'start')" matTooltipClass="tooltip" matTooltip="Click to edit" matTooltipPosition="right">
                        {{time.start | date : 'HH:mm'}} 
                    </button>

                    <span class="between">-</span>

            <ng-template [ngIf]="time.stop !== undefined">

                <button type="button" (click)="changeTimestamp(time.stop, i, 'end')" matTooltipClass="tooltip" matTooltip="Click to edit" matTooltipPosition="right">
                    {{time.stop | date : 'HH:mm'}}
                </button>

            </ng-template>

            </span>

            <button type="button" class="delete" (click)="deleteTimestamp(i)" matTooltip="Delete time period" matTooltipPosition="right" matTooltipClass="tooltip">
                <mat-icon>clear</mat-icon>
            </button>

        </li>
    </ul>

</div>