div#ii {
    position: absolute;
    width: 100%;
    height: 100%;
}

.clock i {
    width: 100%;
    height: 1px;
    background: transparent;
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    display: block;
    box-sizing: border-box;
}

.clock i:nth-child(1) {
    transform: rotate(12deg);
    -ms-transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
}

.clock i:nth-child(2) {
    transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
}

.clock i:nth-child(3) {
    transform: rotate(24deg);
    -ms-transform: rotate(24deg);
    -webkit-transform: rotate(24deg);
}

.clock b {
    width: 100%;
    height: 2px;
    background: transparent;
    position: absolute;
    display: block;
    top: calc(50% - 2px);
    border-left: 9px solid white;
    border-right: 9px solid white;
    box-sizing: border-box;
}

.clock b:nth-child(1) {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}

.clock b:nth-child(2) {
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
}

.clock b:nth-child(3) {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -o-transform: rotate(60deg);
}

.clock b:nth-child(4) {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.clock b:nth-child(5) {
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
}

.clock b:nth-child(6) {
    transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    -moz-transform: rotate(150deg);
    -ms-transform: rotate(150deg);
    -o-transform: rotate(150deg);
}