<form [formGroup]="form" (ngSubmit)="onSubmit()" class="create-habit" *ngIf="(!isNew && habit) || isNew">

    <input formControlName="id" type="hidden">


    <ng-template [ngIf]="isNew" [ngIfElse]="edit">
        <p>{{"create_habit" | translate}}</p>
    </ng-template>

    <ng-template #edit>
        <p>{{"edit_habit" | translate}}</p>
    </ng-template>

    <div class="wrapper">

        <div class="flex name-block">

            <mat-form-field appearance="fill">
                <mat-label>{{ 'FORM.HABIT_NAME' | translate }}</mat-label>
                <input formControlName="name" type="text" matInput>
            </mat-form-field>

            <app-icon-picker (selectIcon)=onSelectIcon($event) [oldIcon]="form.value.icon"></app-icon-picker>

            <app-color-picker (selectColor)=onSelectColor($event) [oldColor]="form.value.color"></app-color-picker>

            <app-difficulty-picker (selectDifficulty)=onSelectDifficulty($event) [oldValue]="form.value.difficulty"></app-difficulty-picker>

        </div>

        <div class="checkboxes">
            <mat-checkbox formControlName="hasTimer" class="example-margin">{{ 'FORM.NEED_TIMER' | translate }}</mat-checkbox>
            <mat-checkbox formControlName="hasRating" class="example-margin">{{ 'FORM.NEED_RATING' | translate }}</mat-checkbox>
        </div>

        <app-schedule-picker (changeSchedule)="onChangeSchedule($event)" [oldSchedule]="form.value.schedule"></app-schedule-picker>

        <mat-expansion-panel class="grid">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ 'FORM.MORE' | translate }}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-time-picker (changeFromTime)="onChangeFromTime($event)" (changeUntilTime)="onChangeUntilTime($event)" [oldFromTime]="form.value.fromTime" [oldUntilTime]="form.value.untilTime"></app-time-picker>

            <app-note-to-day [schedule]="schedule" (addNotes)="onAddNotes($event)" [oldNotes]="form.value.comment"></app-note-to-day>

            <app-category-picker (changeCategories)="onChangeCategories($event)" [oldCategories]="form.value.categories"></app-category-picker>

        </mat-expansion-panel>


        <ng-template [ngIf]="isNew" [ngIfElse]="save">
            <button type="submit">{{'FORM.CREATE' | translate}}</button>
        </ng-template>

        <ng-template #save>
            <button type="submit">{{'FORM.SAVE' | translate}}</button>
        </ng-template>

    </div>

</form>