<form [formGroup]="form" (ngSubmit)="onSubmit()" class="create-habit" *ngIf="(!isNew && habit) || isNew">

    <input formControlName="id" type="hidden">

    <p>{{isNew ? 'Create' : 'Edit'}} Habit</p>

    <div class="wrapper">

        <div class="flex">

            <mat-form-field appearance="fill">
                <mat-label>Name of habit</mat-label>
                <input formControlName="name" type="text" matInput>
            </mat-form-field>

            <app-icon-picker (selectIcon)=onSelectIcon($event) [oldIcon]="form.value.icon"></app-icon-picker>

            <app-color-picker (selectColor)=onSelectColor($event) [oldColor]="form.value.color"></app-color-picker>

            <app-difficulty-picker (selectDifficulty)=onSelectDifficulty($event) [oldValue]="form.value.difficulty"></app-difficulty-picker>

        </div>

        <mat-checkbox formControlName="hasTimer" class="example-margin">I want to keep track of time!</mat-checkbox>

        <mat-checkbox formControlName="hasRating" class="example-margin">I will evaluete the completion!</mat-checkbox>


        <app-schedule-picker (changeSchedule)="onChangeSchedule($event)" [oldSchedule]="form.value.schedule"></app-schedule-picker>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Additional options
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-time-picker (changeFromTime)="onChangeFromTime($event)" (changeUntilTime)="onChangeUntilTime($event)" [oldFromTime]="form.value.fromTime" [oldUntilTime]="form.value.untilTime"></app-time-picker>

            <app-category-picker (changeCategories)="onChangeCategories($event)" [oldCategories]="form.value.categories"></app-category-picker>

            <app-note-to-day [schedule]="schedule" (addNotes)="onAddNotes($event)" [oldNotes]="form.value.comment"></app-note-to-day>

        </mat-expansion-panel>

        <button type="submit">{{isNew ? 'Create' : 'Save'}}</button>
    </div>

</form>