<form [formGroup]="form" (ngSubmit)="onSubmit()" class="create-habit">
    <p>Create Habit</p>

    <div class="wrapper">

        <div class="flex">

            <mat-form-field appearance="fill">
                <mat-label>Name of habit</mat-label>
                <input formControlName="name" type="text" matInput>
            </mat-form-field>

            <app-icon-picker (selectIcon)=onSelectIcon($event)></app-icon-picker>

            <app-color-picker (selectColor)=onSelectColor($event)></app-color-picker>

            <app-difficulty-picker (selectDifficulty)=onSelectDifficulty($event)></app-difficulty-picker>

        </div>

        <mat-checkbox formControlName="hasTimer" class="example-margin">I want to keep track of time!</mat-checkbox>

        <mat-checkbox formControlName="hasRating" class="example-margin">I will evaluete the completion!</mat-checkbox>

        <app-schedule-picker (changeSchedule)="onChangeSchedule($event)"></app-schedule-picker>


        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Additional options
                </mat-panel-title>
            </mat-expansion-panel-header>

            <app-time-picker (changeFromTime)="onChangeFromTime($event)" (changeUntilTime)="onChangeUntilTime($event)"></app-time-picker>

            <app-category-picker (changeCategories)="onChangeCategories($event)"></app-category-picker>

            <app-note-to-day [schedule]="schedule" (addNotes)="onAddNotes($event)"></app-note-to-day>

        </mat-expansion-panel>

        <button type="submit">Create</button>
    </div>

</form>