<form [formGroup]="form" (ngSubmit)="onSubmit()" class="create-habit aim" *ngIf="(!isNew && aim) || isNew">

    <input formControlName="id" type="hidden">

    <ng-template [ngIf]="isNew" [ngIfElse]="edit">
        <p>{{"create_aim" | translate}}</p>
    </ng-template>

    <ng-template #edit>
        <p>{{"edit_aim" | translate}}</p>
    </ng-template>

    <div class="wrapper">

        <div class="flex name-block">

            <mat-form-field appearance="fill">
                <mat-label>{{ "FORM.TASK_NAME" | translate }}</mat-label>
                <input formControlName="name" type="text" matInput>
            </mat-form-field>

            <app-icon-picker (selectIcon)=onSelectIcon($event) [oldIcon]="form.value.icon"></app-icon-picker>

            <app-color-picker (selectColor)=onSelectColor($event) [oldColor]="form.value.color"></app-color-picker>
        </div>

        <div class="datepicker">
            <h2>{{"timeframe" | translate}}</h2>
            <div class="flex">

                <mat-form-field appearance="fill" class="input-date">
                    <mat-label>{{"choose_date" | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" class="input-date">
                    <mat-label>{{"choose_date" | translate}}</mat-label>
                    <input matInput [matDatepicker]="dp" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                    <mat-datepicker #dp startView="year">
                    </mat-datepicker>
                </mat-form-field>

            </div>
        </div>

        <mat-accordion>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{"add_subtask" | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-create-aim-tasks (addTask)="onAddTask($event)"></app-create-aim-tasks>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{"fill_measure" | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="measure flex">

                    <mat-form-field appearance="fill">
                        <mat-label>{{ "measure_current_value" | translate }}</mat-label>
                        <input formControlName="currentValue" type="number" matInput>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>{{ "measure_target_value" | translate }}</mat-label>
                        <input formControlName="targetValue" type="number" matInput>
                    </mat-form-field>

                    <mat-form-field appearance="fill">
                        <mat-label>{{ "measure_name" | translate }}</mat-label>
                        <input formControlName="measure" type="text" matInput>
                    </mat-form-field>

                </div>

            </mat-expansion-panel>



            <mat-expansion-panel class="grid">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{"FORM.MORE" | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-category-picker (changeCategories)="onChangeCategories($event)" [oldCategories]="form.value.categories"></app-category-picker>

                <div class="habit-comment-form">

                    <h2>{{"task_note" | translate}}</h2>
                    <div class="form">
                        <mat-form-field appearance="fill">
                            <mat-label>{{"text" | translate}}</mat-label>
                            <textarea matInput formControlName="comment"></textarea>
                        </mat-form-field>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>

        <ng-template [ngIf]="isNew" [ngIfElse]="save">
            <button type="submit">{{'FORM.CREATE' | translate}}</button>
        </ng-template>

        <ng-template #save>
            <button type="submit">{{'FORM.SAVE' | translate}}</button>
        </ng-template>
    </div>

</form>