<form class="create-affair">
    <mat-form-field appearance="fill">
        <mat-label>Name of affair</mat-label>
        <input type="text" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Choose one</mat-label>
        <mat-select>
            <mat-option value="Work" selected>Work</mat-option>
            <mat-option value="Sport">Sport</mat-option>
            <mat-option value="Hobby">Hobby</mat-option>
            <mat-option value="Languages">Languages</mat-option>
        </mat-select>
    </mat-form-field>



    <mat-checkbox class="example-margin">I want to keep track of time!</mat-checkbox>

    <mat-checkbox class="example-margin">I will evaluete the completion!</mat-checkbox>

    <button type="button">Every day</button>

    <div class="day-of-week">
        <button type="button" *ngFor="let day of dayEn">{{day}}</button>
    </div>

</form>