<div class="habit-comment-form">

    <h2>Notes to the habit</h2>
    <div class="form">
        <mat-checkbox *ngIf="schedule.value !== 'everyday'" [(ngModel)]="notesForDays">I need the notes to the days of the week</mat-checkbox>

        <form #form="ngForm">
            <div class="textareas" *ngIf="schedule.value !== '' && notesForDays; else oneNote">

                <mat-form-field appearance="fill" *ngFor="let day of schedule.value.split(',')">
                    <mat-label>{{dayEn[day]}}</mat-label>
                    <textarea matInput [ngModel]="formData[day]" [name]="day" (blur)="transferData(form)"></textarea>
                </mat-form-field>

            </div>

            <ng-template #oneNote>
                <mat-form-field appearance="fill">
                    <mat-label>Note</mat-label>
                    <textarea matInput ngModel name="note" (blur)="transferData(form)"></textarea>
                </mat-form-field>
            </ng-template>
        </form>
    </div>

</div>