.textarea-block {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 10px;
}

.textareas .mat-form-field {
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

.day {
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.textareas {
    margin-top: 20px;
}