<div class="habit-comment-form">

    <h2>{{ "habit_note" | translate}}</h2>
    <div class="form">
        <mat-checkbox *ngIf="schedule.value !== 'everyday'" [(ngModel)]="notesForDays">{{ "note_to_day" | translate }}</mat-checkbox>

        <form #form="ngForm">
            <div class="textareas" *ngIf="schedule.value !== '' && notesForDays; else oneNote">

                <mat-form-field appearance="fill" *ngFor="let day of schedule.value.split(',')">
                    <mat-label>{{ dayEn[day] | translate }}</mat-label>
                    <ng-template [ngIf]="formData" [ngIfElse]="withoutData">
                        <textarea matInput [ngModel]="formData[day]" [name]="day" (blur)="transferData(form)"></textarea>
                    </ng-template>
                    <ng-template #withoutData>
                        <textarea matInput ngModel [name]="day" (blur)="transferData(form)"></textarea>
                    </ng-template>

                </mat-form-field>

            </div>

            <ng-template #oneNote>
                <mat-form-field appearance="fill">
                    <mat-label>{{ "text" | translate}}</mat-label>
                    <textarea matInput [ngModel]="singleNote" name="note" (blur)="transferData(form)"></textarea>
                </mat-form-field>
            </ng-template>
        </form>
    </div>

</div>