<h1 mat-dialog-title>

    <button type="button" (click)="onCloseClick()"><mat-icon aria-hidden="false">clear</mat-icon></button>
</h1>
<div mat-dialog-content>
    <mat-tab-group #tabGroup animationDuration="0ms" mat-align-tabs="center">
        <mat-tab label="Login">
            <app-login (goToApp)="onCloseClick()"></app-login>
        </mat-tab>
        <mat-tab label="Register">
            <app-register (loginTab)="goToLoginTab()"></app-register>
        </mat-tab>
    </mat-tab-group>

</div>