<form [formGroup]="form" (ngSubmit)="onSubmit()" class="create-habit task" *ngIf="(!isNew && task) || isNew">

    <input formControlName="id" type="hidden">

    <p>{{isNew ? 'Create' : 'Edit'}} Task</p>

    <div class="wrapper">

        <div class="flex name-block">

            <mat-form-field appearance="fill">
                <mat-label>Name of task</mat-label>
                <input formControlName="name" type="text" matInput>
            </mat-form-field>

            <app-icon-picker (selectIcon)=onSelectIcon($event) [oldIcon]="form.value.icon"></app-icon-picker>

            <app-color-picker (selectColor)=onSelectColor($event) [oldColor]="form.value.color"></app-color-picker>

            <app-difficulty-picker (selectDifficulty)=onSelectDifficulty($event) [oldValue]="form.value.difficulty"></app-difficulty-picker>

        </div>

        <mat-checkbox formControlName="hasTimer" class="example-margin">I want to keep track of time!</mat-checkbox>

        <mat-accordion class="example-headers-align">
            <mat-expansion-panel>

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Add Subtasks
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-create-subtasks (addSubtask)="onAddSubtask($event)" [oldSubtasks]="subtasks"></app-create-subtasks>
            </mat-expansion-panel>

            <mat-expansion-panel>

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Set time frames
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <div class="datepicker">
                    <h2>Time frame</h2>
                    <div class="flex">

                        <mat-form-field appearance="fill" class="input-date">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker" formControlName="date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                        <app-time-picker (changeFromTime)="onChangeFromTime($event)" (changeUntilTime)="onChangeUntilTime($event)" [oldFromTime]="form.value.fromTime" [oldUntilTime]="form.value.untilTime"></app-time-picker>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel class="grid">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Additional options
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-category-picker (changeCategories)="onChangeCategories($event)" [oldCategories]="form.value.categories"></app-category-picker>

                <div class="habit-comment-form">

                    <h2>Note to the task</h2>
                    <div class="form">
                        <mat-form-field appearance="fill">
                            <mat-label>Note</mat-label>
                            <textarea matInput formControlName="comment"></textarea>
                        </mat-form-field>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>

        <button type="submit">{{isNew ? 'Create' : 'Save'}}</button>
    </div>

</form>