<form [formGroup]="form" (ngSubmit)="onSubmit()" class="create-habit task">
    <p>Create Task</p>

    <div class="wrapper">

        <div class="flex">

            <mat-form-field appearance="fill">
                <mat-label>Name of task</mat-label>
                <input formControlName="name" type="text" matInput>
            </mat-form-field>

            <app-icon-picker (selectIcon)=onSelectIcon($event)></app-icon-picker>

            <app-color-picker (selectColor)=onSelectColor($event)></app-color-picker>

            <app-difficulty-picker (selectDifficulty)=onSelectDifficulty($event)></app-difficulty-picker>

        </div>

        <mat-checkbox formControlName="hasTimer" class="example-margin">I want to keep track of time!</mat-checkbox>

        <mat-checkbox formControlName="hasRating" class="example-margin">I will evaluete the completion!</mat-checkbox>

        <mat-accordion class="example-headers-align">
            <mat-expansion-panel>

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Add Subtasks
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-create-subtasks (addSubtask)="onAddSubtask($event)"></app-create-subtasks>
            </mat-expansion-panel>

            <mat-expansion-panel>

                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Set time frames
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <app-time-picker (changeFromTime)="onChangeFromTime($event)" (changeUntilTime)="onChangeUntilTime($event)"></app-time-picker>

            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Additional options
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <app-category-picker (changeCategories)="onChangeCategories($event)"></app-category-picker>

                <div class="habit-comment-form">

                    <h2>Note to the task</h2>
                    <div class="form">
                        <mat-form-field appearance="fill">
                            <mat-label>Note</mat-label>
                            <textarea matInput formControlName="comment"></textarea>
                        </mat-form-field>
                    </div>
                </div>

            </mat-expansion-panel>
        </mat-accordion>

        <button type="submit">Create</button>
    </div>

</form>