<div class="task-item">
    <div class="wrapper flex" (click)="showMore = !showMore">

        <div class="flex">
            <mat-icon class="main-icon" [style.color]="task.color">{{task.icon}}</mat-icon>
            <p class="title" [style.color]="task.color">{{task.name}}
                <span *ngIf="task.countSubtasks() > 0">({{task.countDoneSubtasks()}}/{{task.countSubtasks()}})</span>
            </p>
        </div>

        <div class="flex">
            <mat-checkbox (change)="markDone()" [checked]="task.savedData.done"></mat-checkbox>
            <button class="more" type="button" (click)="showMore = !showMore"><mat-icon>more_vert</mat-icon></button>
        </div>
    </div>

    <ng-template [ngIf]="showMore">
        <div class="flex options">
            <mat-tab-group headerPosition="below" (selectedTabChange)="sho($event)">

                <mat-tab label="Comment" *ngIf="task.subtasks.length > 0">
                    <ng-template mat-tab-label>
                        <mat-icon>task</mat-icon>
                        Subtasks
                    </ng-template>

                    <div class="subtasks">
                        <h2>Subtasks</h2>
                        <app-subtask *ngFor="let subtask of task.subtasks; let i = index" [subtask]="subtask" [index]="i" [hasTimer]="task.hasTimer" (changeSubtask)="onChangeSubtask($event)"></app-subtask>
                    </div>
                </mat-tab>


                <mat-tab label="Comment" *ngIf="task.hasTimer">
                    <ng-template mat-tab-label>
                        <mat-icon>description</mat-icon>
                        Timer
                    </ng-template>
                    <h2>Timer</h2>
                    В том числе подзадачи: {{formatSecond(task.countTimePassedSubtasks())}}
                    <app-timer [timer]="task.savedData.timer" *ngIf="task.hasTimer" (timePlay)=onPlayTime($event) (timePause)=onPauseTime($event) (timeReset)=onResetTime() (changeTime)=onChangeTime($event) (deleteTimeStamp)="onDeleteTimeStamp($event)"></app-timer>
                </mat-tab>

                <mat-tab label="Comment" *ngIf="task.comment !== ''">
                    <ng-template mat-tab-label>
                        <mat-icon>description</mat-icon>
                        Comment
                    </ng-template>
                    <h2>Comment</h2>
                    <p class="comment">{{task.comment}}</p>
                </mat-tab>

                <mat-tab label="Add note">
                    <ng-template mat-tab-label>
                        <mat-icon>add_circle</mat-icon>
                        Add note
                    </ng-template>

                    <form #form="ngForm" (mouseenter)="updateFormField(form)" class="comment-form">
                        <h2>Add note</h2>

                        <mat-form-field appearance="fill">
                            <mat-label>Your note</mat-label>
                            <input ngModel name="note" type="text" matInput required autocomplete="off">
                        </mat-form-field>

                        <button [disabled]="form.invalid" class="save-comment" (click)=saveComment(form) type="button">Save</button>
                    </form>
                </mat-tab>

                <mat-tab label="Close">
                    <ng-template mat-tab-label>
                        <mat-icon>hide_source</mat-icon>
                        Close
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
    </ng-template>
</div>