<div class="habit" [ngClass]="{'done': habitRecording.entry.done}">

    <div class="timeframe">
        <span>{{habitRecording.habit.timeframe}}</span>

        <span class="date" *ngIf="habitRecording.entry.done">Done at {{habitRecording.entry.date | date: 'HH:mm'}}</span>
    </div>

    <app-icon-template [color]="habitRecording.habit.color" [icon]="habitRecording.habit.icon"></app-icon-template>

    <div class="right">
        <div class="flex">
            <div class="flex">
                <p class="name">
                    {{habitRecording.habit.name}}
                </p>

                <div *ngIf="habitRecording.habit.hasRating;">
                    <app-rating (byClick)="saveRating($event)" [oldRating]="habitRecording.entry.rating" [isPicker]="true"></app-rating>
                </div>
            </div>

            <div class="checkbox">
                <mat-checkbox (change)="markDone(habitRecording.id)" [checked]="habitRecording.entry.done"></mat-checkbox>
            </div>
        </div>

        <div class="flex-timer">
            <mat-tab-group headerPosition="below" (selectedTabChange)="tabIsChange($event)" [ngClass]="{'active': tabName !== 'close'}">

                <mat-tab label="close">
                    <ng-template mat-tab-label>
                        <mat-icon>hide_source</mat-icon>
                        Close
                    </ng-template>
                </mat-tab>

                <mat-tab label="timer" *ngIf="habitRecording.habit.hasTimer">
                    <ng-template mat-tab-label>
                        <mat-icon>timer</mat-icon>
                        Timer
                    </ng-template>
                    <app-timer [timer]="habitRecording.entry.timer" *ngIf="habitRecording.habit.hasTimer" (timePlay)=onPlayTime($event) (timePause)=onPauseTime($event) (timeReset)=onResetTime() (changeTime)=onChangeTime($event) (deleteTimeStamp)="onDeleteTimeStamp($event)"></app-timer>
                </mat-tab>

                <mat-tab label="comment" *ngIf="habitRecording.habit.comment">
                    <ng-template mat-tab-label>
                        <mat-icon>description</mat-icon>
                        Comment
                    </ng-template>
                    <p class="comment">{{habitRecording.habit.comment}}</p>
                </mat-tab>

                <mat-tab label="add_note">
                    <ng-template mat-tab-label>
                        <mat-icon>add_circle</mat-icon>
                        Add note
                    </ng-template>

                    <form #form="ngForm" (mouseenter)="updateFormField(form)" class="comment-form">

                        <mat-form-field appearance="fill">
                            <mat-label>Your note</mat-label>
                            <input ngModel name="note" type="text" matInput required>
                        </mat-form-field>

                        <button [disabled]="form.invalid" class="save-comment" (click)=saveComment(form) type="button">Save</button>
                    </form>
                </mat-tab>

                <mat-tab label="edit">
                    <ng-template mat-tab-label>
                        <mat-icon>edit</mat-icon>
                        Edit
                    </ng-template>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
    <div class="difficulty-block"></div>
</div>