<div class="habit">

    <div class="timeframe">
        <span>
            {{habitRecording.habit.getTimeframe()}}
        </span>

        <span class="date" *ngIf="habitRecording.entry.done">
            Done at {{habitRecording.entry.getStringDate()}}
        </span>
    </div>

    <ng-template [ngIf]="!habitRecording.habit.isIconUndefined()" [ngIfElse]="loading">
        <mat-icon class="main-icon" [style.color]="habitRecording.habit.getColor()">{{habitRecording.habit.getIcon()}}</mat-icon>
    </ng-template>

    <ng-template #loading>
        <mat-icon [style.color]="habitRecording.habit.getColor()" class="main-icon">work</mat-icon>
    </ng-template>

    <div class="right">
        <div class="flex">
            <div class="flex">
                <p class="name">
                    {{habitRecording.habit.name}}
                </p>

                <div *ngIf="habitRecording.habit.hasRating;">
                    <app-rating (byClick)="saveRating($event)" [oldRating]="habitRecording.entry.getRating()" [isPicker]="true"></app-rating>
                </div>
            </div>

            <div class="checkbox">
                <mat-checkbox (change)="markDone(habitRecording.id)" [checked]="this.habitRecording.entry.done"></mat-checkbox>
            </div>
        </div>

        <div class="flex-timer">
            <mat-tab-group headerPosition="below">

                <mat-tab label="Closed">
                    <ng-template mat-tab-label (click)="sho()">
                        <mat-icon>hide_source</mat-icon>
                        Close
                    </ng-template>
                </mat-tab>

                <mat-tab *ngIf="habitRecording.habit.hasTimer">
                    <ng-template mat-tab-label>
                        <mat-icon>timer</mat-icon>
                        Timer
                    </ng-template>
                    <app-timer [timer]="habitRecording.entry.timer" *ngIf="habitRecording.habit.hasTimer" (timePlay)=onPlayTime($event) (timePause)=onPauseTime($event) (timeReset)=onResetTime() (changeTime)=onChangeTime($event) (deleteTimeStamp)="onDeleteTimeStamp($event)"></app-timer>
                </mat-tab>

                <mat-tab label="Comment" *ngIf="!habitRecording.habit.isCommentUndefined() && !habitRecording.habit.isConmmentEmpty()">
                    <ng-template mat-tab-label>
                        <mat-icon>description</mat-icon>
                        Comment
                    </ng-template>
                    <p class="comment" *ngIf="!habitRecording.habit.isCommentUndefined()">{{habitRecording.habit.getComment()}}</p>
                </mat-tab>

                <mat-tab label="Add note">
                    <ng-template mat-tab-label>
                        <mat-icon>add_circle</mat-icon>
                        Add note
                    </ng-template>

                    <form #form="ngForm" (mouseenter)="updateFormField(form)" class="comment-form">

                        <mat-form-field appearance="fill">
                            <mat-label>Your note</mat-label>
                            <input ngModel name="note" type="text" matInput required>
                        </mat-form-field>

                        <button [disabled]="form.invalid" class="save-comment" (click)=saveComment(form) type="button">Save</button>
                    </form>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
    <div class="difficulty-block">
    </div>
</div>