<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" mode="side" opened [ngClass]="{active:mobileOpen}">
        <button class="close-sidenav" type="button" (click)="mobileOpen = ! mobileOpen"><mat-icon>clear</mat-icon></button>
        <a class="logo" [routerLink]="['dashboard']">
            <img src="../../../../../assets/images/logo.png">
            <p>NOW</p>
        </a>
        <nav>
            <ul>
                <li *ngFor="let link of links">
                    <a [routerLink]="[link.url]" routerLinkActive="active" (click)="mobileOpen = ! mobileOpen">
                        <mat-icon>{{link.icon}}</mat-icon> {{link.url}}
                    </a>
                </li>
            </ul>
        </nav>

    </mat-sidenav>

    <mat-sidenav-content>
        <main>

            <div class="header">
                <h1>
                    <mat-icon>space_dashboard</mat-icon> Dashboard</h1>

                <ul>
                    <li>
                        <a [routerLink]="['dashboard']">
                            <mat-icon>search</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['dashboard']">
                            <mat-icon>notifications</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['dashboard']">
                            <mat-icon>event</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['dashboard']">
                            <mat-icon>settings</mat-icon>
                        </a>
                    </li>
                    <li>
                        <a (click)=logout($event)>
                            <mat-icon>logout</mat-icon>
                        </a>
                    </li>
                </ul>


            </div>

            <div class="mobile-header">
                <a class="logo" [routerLink]="['dashboard']">
                    <img src="../../../../../assets/images/logo.png">
                </a>

                <button type="button" (click)="mobileOpen = ! mobileOpen"><mat-icon>menu</mat-icon></button>
            </div>

            <div class="wrapper">
                <router-outlet></router-outlet>
            </div>
        </main>


        <div class="plus-menu">
            <button class="main-btn" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Create">
                <mat-icon>add_circle</mat-icon>
            </button>
            <mat-menu class="mat-plus-menu" #menu="matMenu" yPosition="above">

                <a class="add" [routerLink]="['habit/create']">Habit</a>

                <a class="add" [routerLink]="['task/create']">Task</a>

                <a class="add" [routerLink]="['category/create']">Category</a>

            </mat-menu>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>